@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: absolute;
  color: azure;
  width: 100%;
  text-align: center;
  top: 45%;
}
